/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/*MOBILE*/
 /*PRIMARY MENU MOBILE*/
 @media screen and (max-width: 740px){
 /*resize home link*/
 .responsive-layout-mobile .menu-block-1.menu-name-main-menu li.first
 {
width:38px;
}

/*Apply home background image, hide text*/
.responsive-layout-mobile .menu-block-1.menu-name-main-menu li.first a
{
text-indent:-2000px;
background-image:url("img/home.png") ;
 padding:10px 20px;
}

/*resize other links when space running low*/
 .responsive-layout-mobile .menu-block-1.menu-name-main-menu li a
 {
 font-size: 14px;
 padding:10px 10px;
 }
 
 /*End 480w media query*/}
 
 html
 {background-color:#e9e0d6}
 
 
body {
	font-family: Arial, Helvetica, sans-serif; 
	line-height: 1.4em;
	color:#666;	    
  background: #d4f9f9 url("img/bg-repeat.png") repeat-x;
  word-wrap: break-word;
}


body.cke_show_borders { 
	background: none;
	font-size: 75%;
}
/* System css reset */
.item-list .title {
  font-weight: normal; 
}

/* CONTENT STYLES --------------------------- */

/* Remove negative letter spacing */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif; 
  letter-spacing: 0;  
  font-weight: normal;
}

h2, h3, h4, p.intro {	
	color: #333;
	line-height: 1.3em;
}

h1 {
	font-size:60px;
	color: #333;	
}
h1.title{
  color: #193d49;
  font-size: 35px;   
  margin-bottom: 13px;
  text-transform: uppercase;  
  line-height: 0.9em;
  font-weight: normal;
  display: inline-block;
}


h1.site-name p a, h2.site-name a{
  font-size: 36px;
}

h2 {
	/* font-size: 23px; */
	color: #333;
	margin: 0px 0 8px;
}

h2.block-title, 
h2.node-title,
h2.node-title a,
.block-menu-block h2.block-title{
	color: #333;
	margin: 0px 0 8px;
	font-size:20px;
  font-weight: normal;
}

h2.block-title{
  color: #15728a;  
}

p.intro {
	font-size:24px;
	color: #377e8f;
	margin: 0 0 15px;
	font-weight: normal;
}

h3 {
	font-size:20px;
	margin: 20px 0 8px;
	font-weight: normal;
}
.about-wrapper h3{
  margin-top: 0;
}

h4 {
	font-size:1.4em;
	margin: 20px 0 8px;
	font-weight: normal;
}
.no-margin-top {
	margin-top: 0;
}
.no-margin-bottom {
	margin-bottom: 0;
}

p {
	margin: 0 0 0.833em;
	font-size: 14px;
	line-height: 150%;
}

a {
	color: #377e8f;
	cursor: pointer;
	text-decoration: none;
	padding-bottom: 1px;
}
a:link, a:visited {
	text-decoration: none;
  color: #15728a;
}
a:hover, a:focus ,
.more a:hover, a:hover.more{
	color:#999;
}
p a, a{
	font-size: 14px;
  text-decoration: underline;
}

sub, sup { line-height: 0.5em; font-size: 0.8em; }
sup { vertical-align: text-top; } 
sub { vertical-align: text-bottom; }

hr { background: none repeat scroll 0 0 #e3e3e3; }

blockquote {
	font-family: Arial, serif;
	font-weight:normal;
	font-style: italic;
	color: #377E8F;
	line-height: 1.3em;
	font-size: 22px;
	padding: 8px 0;
	margin: 16px 0;	
}

blockquote p {
	line-height: 1.3em;
	font-size: 22px;
  margin-bottom: 0;
}

.brief-quote blockquote, .brief-pullout blockquote {
	border-top:0;
	border-bottom:0;
	padding: 0;
	margin: 0;
}

.brief-pullout, .brief-quote {
	margin-bottom: 60px;
}

.brief-quote blockquote p {
	margin-bottom: 0.4em;
}

.brief-quote p.quote-author {
	font-size: 11px;
	font-style: normal;
	border-bottom: 1px solid #dcdcdc;
	display: block;
	padding-bottom: 15px;
}

#zone-content
{
padding-bottom:20px;
}

/* - Lists */
.page ul, .cke_show_borders ul {    
	font-size: 14px;
	line-height: 22px;
}

.page ul ul, .cke_show_borders ul ul {  
  margin: 0.25em 0;
}

.page ul li {
  margin-bottom: 0.5em;
}


.page ol {
    list-style: decimal inside none;
    margin-bottom: 1em;
    margin-left: 0;
    padding-left: 10px;
    font-size: 14px;
	line-height: 22px;
}

.page ol ol {
    list-style: upper-alpha inside none;
    margin: 0.75em 0;
    padding-left: 10px;
}

.page ol li {
    list-style-position: inside;
    margin-bottom: 0.5em;
}


/* global pager overrides */
.item-list .pager {
	text-align: left;
	float: right;
}

/* - Tables */

table {
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-left: none;
    border-right: none;
    margin: 30px 0;
    width: 100%;
}
table caption{
  display:none;
}

table th, thead th {
    border: 1px solid #dcdcdc;
    color: #fff;
    padding: 5px 15px;
    text-align: left;    
    font-weight: bold;
    background-color: #3e91a5;
    font-style: normal;
}

tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
	background-color: #fff;
}

table tbody td {
    padding: 5px 15px;
    border: 1px solid #dcdcdc;
}

table tbody tr, table thead tr {
    border-bottom: none;
}

table tbody tr.even, 
table tbody tr.odd, 
table tbody tr.even td {
    background-color: #f4fafa;
}


/* logo */

.block-logo, .block-site-name {
  float: left;
}

.zone-branding-wrapper {
  margin-bottom: 20px;
  padding-top:20px;
}


/* Menu */
.zone-menu-wrapper {  
  background: #0078ad;
  padding: 0px 0px;
  margin-bottom: 20px;
  border-top: 5px solid #74c50c;
}
.menu-name-main-menu {
    right: 0;
    background-color: 005f7f;
}
.menu-name-main-menu .menu li {    
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 0px;
}

.menu-name-main-menu .menu li a{
  padding: 10px 20px;  
  display: inline-block;
}



.menu-name-main-menu .menu li.active a, .menu-name-main-menu .menu li a:hover{
  background-color: #74c50c;  
}

.menu-name-main-menu .menu a:link, .menu-name-main-menu .menu a:visited {
    color: #fff;   
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-name-main-menu .menu a:hover, .menu-name-main-menu .menu .active-trail a {
    color: #fff;
}

.menu-name-main-menu ul ul {
    background-color: #367980;
    display: none;
    left: 160px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80px;
    width: 800px;
    z-index: 99999 !important;
}
.region-preface-third-inner .block-menu ul li.leaf {
    border: 1px solid #DDDDDD;
    background-color: #74c50c;
    list-style: none outside none;
}

/*
.front .region-preface-first-inner, 
.front .region-preface-third-inner{
  border: 1px solid #ccc; 
  padding: 20px 20px;
}
*/
.section-footer {
  background-color: #e9e0d6;
  /*min-height: 150px;*/
}

.block-menu-footer-menu .menu li,
.block-menu-menu-footer-navigation .menu li {
  display: inline-block;
  float: left;
}

.block-menu-footer-menu .menu li a,
.block-menu-menu-footer-navigation .menu li a {
   font-size: 10px;
}

.section-footer .block {
  padding: 20px 0px;
}
.block-menu-menu-footer-navigation {
  float: right;
}

/*PAGE IMAGES*/
.node-plain-page .field-name-field-page-image img
{
float:left;
margin: 0px 10px 10px 0px;
max-width:210px;
height:auto;
}

.page-node-555 .node-plain-page .field-name-body
{
clear:both;
}

.page-node-555 .node-plain-page .field-group-format-wrapper
{
clear:both;
}
 
 /*FRONT*/
 
 .front-about {
background: transparent url('img/banner_front.png') no-repeat right;
height: 187px;
width: auto;
padding:20px;
}

 .front-about h3
 {
 margin-top:0;
 }

  .front-about p
 {
 display:block;
 width:50%;
 }

 .region-content .block-main, .block.front-slider {
  padding: 20px 20px;  
  background: transparent url('./img/transparent_bg.png') repeat;
}

.front .block-main
{
padding:0;
}

.front-showcase{
  background: transparent url('./img/transparent_bg.png') repeat;
}

h1#page-title {
  font-weight: bold;
  color: #0078AD;
}
 
 /*CAROUSEL*/
 .jcarousel-skin-default .jcarousel-container-horizontal
 {
 width:auto;
 overflow:hidden;
 }
 
 .jcarousel-container.jcarousel-container-horizontal
 {
  overflow:hidden;
 }
 
 a.jcarousel-prev
 {
 display: block;
width: 50px;
height: 50px;
position: absolute;
background: url("img/prev-button.png");
top: 40px;
}

 a.jcarousel-next
 {
  display: block;
width: 50px;
height: 50px;
position: absolute;
background:  url("img/next-button.png");
top: 40px;
right:0;
 }
 
 
 
 /*Shortcuts menu block*/
 
 .block-menu-menu-front-shortcut ul li a
 {
 padding-left: 55px;
display: block;
height: 46px;
line-height: 46px;
 }
 
  .block-menu-menu-front-shortcut ul li a:hover
  {
  color:white;
  }
 
.block-menu-menu-front-shortcut ul li:nth-child(1)
{background:url("img/search-icon.png") 10px center no-repeat}
.block-menu-menu-front-shortcut ul li:nth-child(2)
{background:url("img/date-icon.png") 10px center no-repeat}
.block-menu-menu-front-shortcut ul li:nth-child(3)
{background:url("img/list-icon.png") 10px center no-repeat}
 .block-menu-menu-front-shortcut ul li:nth-child(4)
{background:url("img/star-icon.png") 10px center no-repeat}

 /*Mobile overrides*/
  @media screen and (max-width: 450px){
.front-about {
background: transparent url('img/banner_front.png') no-repeat left;
} 

  .front-about p
 {
 display:block;
 width:100%;
 }

/*End 450w media query*/}

    @media screen and (max-width: 700px){
 .front-about{
margin-bottom: 10px;
}/*End 700w media query*/}

    @media screen and (max-width: 480px){
 .block-menu-menu-footer-navigation {
float: none;
}
 
  .block-menu-menu-footer-navigation .menu li {
display: block;
float: none;
}
 
 .block-menu-menu-footer-navigation .menu li a {
display: block;
float: none;
font-size: 16px;
}
 /*End 480w media query*/}
  
 /*Tablet widths*/
@media screen and (max-width: 980px) and (min-width: 700px) {

  .front-about p
 {
 display:block;
 width:40%;
 }
/*End tablet media query*/}
 

aside .block {
  padding: 20px 20px;  
  background: transparent url('./img/transparent_bg.png') repeat;
}

.section-footer {
  margin-top: 40px; 
}

.view-companies .views-row
{
margin-bottom:20px;
border-bottom:5px solid #ddd;
padding-bottom:20px;
}
