@CHARSET "UTF-8";
/**
 * This CSS supports some of the per-field layouts done in the UI
 * Use the generic named classes below with display_suite or fieldgroups.
 */

.col-one-third {
  float:left;
  width:33%;
}
.col-two-thirds {
  float:left;
  width:66%;
}
.col-indented {
  margin-left: 33%;
  width: 66%;
}

.float-left {
  float:left;
}
.float-right {
  float:right;
}
.cleared {
  clear:both;
}
.inline-items .field-item {
  float:left;
  width:auto;
  margin:0.15em;
}

/* Company and Showcase teasers and pages */

.node-company .field-label,
.node-showcase .field-label {
  float: left;
  width: 33%;
  font-size: 16px;
  margin: 0px 0px 8px;
  font-weight: normal;
}
/* Most fields have labels */
.node-company .field-label-above > .field-items,
.node-company .field-label-inline > .field-items,
.node-showcase .field-label-above > .field-items,
.node-showcase .field-label-inline > .field-items {
  margin-left: 33%;
  width: 66%;
}
/* Fields with no visible label get full-width */
.node-company .field-label-hidden > .field-item ,
.node-showcase .field-label-hidden > .field-item {
  margin: 0.833em 0;
  width: 100%;
}
.node-company .field-clear,
.node-showcase .field-clear {
  vertical-align: top;
  clear: both;
}
.node-company .fieldset-legend,
.node-showcase .fieldset-legend {
  /* keep the font and margins the same as the above field-label values */
  font-size: 16px;
  margin: 0px 0px 8px;
  font-weight: normal;
}
.view-companies .views-exposed-widgets {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid rgb(221,221,221);
}
